@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #44403c; /*stone-700*/
  --card: #fafaf9; /*stone-50*/
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--card-foreground);
  --primary: #6366f1;
  --primary-foreground: #ffffff;
  --secondary: #8b5cf6; /*violet-500*/
  --secondary-foreground: #ffffff;
  --muted: #78716c; /*stone-500*/
  --muted-foreground: #ffffff;
  --accent: #f5f5f4; /*stone-100*/
  --accent-foreground: var(--foreground);
  --destructive: #f87171; /*red-400*/
  --border: #e7e5e4; /*stone-200*/
  --input: #e7e5e4; /*stone-200*/
  --ring: var(--primary);
  --radius: 0.5rem;
  --chart-1: var(--primary);
  --chart-2: oklch(69.6% 0.17 162.48); /*emerald-500*/
  --chart-3: oklch(76.9% 0.188 70.08); /*amber-500*/
  --chart-4: oklch(64.5% 0.246 16.439); /*rose-500*/
  --chart-5: oklch(71.5% 0.143 215.221); /*cyan-500*/
  --sidebar: var(--card);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: #1c1917; /*stone-900*/
  --foreground: #f5f5f4; /*stone-100*/
  --card: #292524; /*stone-800*/
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--card-foreground);
  --primary: #818cf8; /*indigo-400*/
  --primary-foreground: #1c1917; /*stone-900*/
  --secondary: #a78bfa; /*violet-400*/
  --secondary-foreground: #1c1917; /*stone-900*/
  --muted: #57534e; /*stone-600*/
  --muted-foreground: #f5f5f4; /*stone-100*/
  --accent: #44403c; /*stone-700*/
  --accent-foreground: #f5f5f4; /*stone-100*/
  --destructive: #fca5a5; /*red-300*/
  --border: #44403c; /*stone-700*/
  --input: #44403c; /*stone-700*/
  --ring: var(--primary);
  --chart-1: var(--primary);
  --chart-2: oklch(69.6% 0.17 162.48); /*emerald-500*/
  --chart-3: oklch(76.9% 0.188 70.08); /*amber-500*/
  --chart-4: oklch(64.5% 0.246 16.439); /*rose-500*/
  --chart-5: oklch(71.5% 0.143 215.221); /*cyan-500*/
  --sidebar: var(--card);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}
